$soee-cbar-z-index:       1000 !default;
$soee-cbar-position:      fixed !default;
$soee-cbar-padding:       0.5rem 1rem !default;
$soee-cbar-text-align:    center !default;
$soee-cbar-bg:            #000000 !default;
$soee-cbar-text-color:    #dddddd !default;
$soee-cbar-link-color:    #aaaaaa !default;

// button

$soee-cbar-btn-border-radius: 3px !default;