$soee-cookie-bar-z-index:       1000 !default;
$soee-cookie-bar-padding:       0.5rem 1rem !default;
$soee-cookie-bar-text-align:    center !default;
$soee-cookie-bar-bg:            #000000 !default;
$soee-cookie-bar-text-color:    #ffffff !default;
$soee-cookie-bar-link-color:    #aaaaaa !default;