.soee-cookie-bar {
  z-index: $soee-cbar-z-index;
  display: block;
  position: $soee-cbar-position;
  padding: $soee-cbar-padding;
  text-align: $soee-cbar-text-align;
  color: $soee-cbar-text-color;
  background-color: $soee-cbar-bg;

  &.top,
  &.bottom {
    right: 0;
    left: 0;
  }

  &.top {
    top: 0;
  }

  &.bottom {
    bottom: 0;
  }

  a {
    color: $soee-cbar-link-color;
  }
}

.soee-cookie-bar .soee-cookie-bar-button {
  display: inline-block;
  padding: 2px 5px;
  color: #666666;
  background-color: #eeeeee;

  @if $soee-cbar-btn-border-radius {
    border-radius: $soee-cbar-btn-border-radius;
  }
}